<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>179277367624-c8rp756q5jgi7t6oso5lng8l6he2591h.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.179277367624-c8rp756q5jgi7t6oso5lng8l6he2591h</string>
	<key>API_KEY</key>
	<string>AIzaSyC7Tldsz6RX3g18Wqty8lXATf-VWmPl4RU</string>
	<key>GCM_SENDER_ID</key>
	<string>179277367624</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.alphanessone</string>
	<key>PROJECT_ID</key>
	<string>alphaness-322423</string>
	<key>STORAGE_BUCKET</key>
	<string>alphaness-322423.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:179277367624:ios:79a107e6526e0c1b30cb7d</string>
</dict>
</plist>